<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="now" />
		<meta http-equiv="pragma" content="no-cache" />
    <meta name="description" content="" />
		<meta name="keywords" content="" />
    <meta itemprop="image" content="" />      
    <title>
      <%==SIM:Model.Name==%> :: <%==SIM:Project.Name==%>
    </title>
    <link rel="stylesheet" type="text/css" href="../resources/default.css" />        
  </head>
  <body>
    <h1><a class="project-name" href="../index.html"> <%==SIM:Project.Name==%>:</a> <%==SIM:Model.Name==%></h1>
    <p class="model-description">
      <%==SIM:Model.HtmlDocumentation==%>
      </p>
    
    <div class="model-content">
        <div class="model-group">
            <h2>Folders</h2>
            <div class="folders">
                <%==SIM:ForEach:Model.Folders.Take(4)==%>
                <div class="folder">
                    <a class="thumb" href="pages/<%==SIM:NestedFolder.UniqueUrl==%>">
                        &nbsp;                        
                    </a>
                    <a class="name" href="pages/<%==SIM:NestedFolder.UniqueUrl==%>">
                        <%==SIM:NestedFolder.Name==%>
                    </a>
                </div>
                <%==SIM:EndFor==%>
            </div>
        </div>
    </div>

      <div class="model-group">    
        <h2>Diagrams</h2>
        
        <div class="diagrams">
          <%==SIM:ForEach:Model.Diagrams==%>
          <div class="diagram">
            <a class="thumb" href="<%==SIM:Diagram.UniqueUrl==%>">
              <img src="../images/<%==SIM:Diagram.Uid==%>th.png" alt="<%==SIM:Diagram.Name==%>" />
            </a>
            <a class="name" href="<%==SIM:Diagram.UniqueUrl==%>">
              <%==SIM:Diagram.Name==%>
            </a>
          </div>
          <%==SIM:EndFor==%>
        </div>
      
      <div class="model-group">    
        <h2>Elements</h2>
        
        <table class="standard-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <%==SIM:ForEach:Model.Elements==%>
            <tr>
              <td><%==SIM:Element.Name==%></td>
              <td><%==SIM:Element.ElementType==%></td>
              <td><%==SIM:Element.HtmlDocumentation==%></td>
            </tr>
            <%==SIM:EndFor==%>
          </tbody>
        </table>
                
      </div>
      
    </div>    
  </body>
</html>