<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareIdeasModeler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <SoftwareIdeasModeler.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="RunCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Simd" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFilesInMenu" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RecentFilesInStartPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStandardBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLayoutBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridHorizontalSpacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridVerticalSpacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DiagramBackgroundColor1" serializeAs="String">
                <value>213, 234, 255</value>
            </setting>
            <setting name="DiagramBackgroundColor2" serializeAs="String">
                <value>170, 213, 255</value>
            </setting>
            <setting name="ShowMultipleUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssociatedDiagrams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabStripHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToolboxWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="StandardBarX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutBarX" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="StandardBarY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LayoutBarY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>0, 0, 900, 650</value>
            </setting>
            <setting name="IsMainWindowMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RelationsAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActivationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DonorCode" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectTreeInitialState" serializeAs="String">
                <value>RestoreSavedState</value>
            </setting>
            <setting name="DefaultAttributeVisibilty" serializeAs="String">
                <value>private</value>
            </setting>
            <setting name="DefaultOperationVisiblity" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="DefaultShowNullability" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCommercialUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DontUseCtrlAltShortcutKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInitials" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDiagramBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRulers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultElementProjectVisibility" serializeAs="String">
                <value>Diagram</value>
            </setting>
            <setting name="InflateContainerMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ElementPropertiesCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RenderingQuality" serializeAs="String">
                <value>Best</value>
            </setting>
            <setting name="ShowCreatorsAndParticipants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvaluationStartDateTime" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
            <setting name="LicenseFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUseSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value>NotChosen</value>
            </setting>
            <setting name="ProfileCheckedForVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDocumentationTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDocumentationFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDiagramWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDiagramHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDiagramSizeType" serializeAs="String">
                <value>ExpandableAllDirections</value>
            </setting>
            <setting name="DefaultDiagramSizeUnit" serializeAs="String">
                <value>px</value>
            </setting>
            <setting name="DefaultDiagramBackgroundColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultDiagramBackgroundColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ShowDiagramPaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDiagramBackgroundType" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="ImageSaveType" serializeAs="String">
                <value>EmbedImage</value>
            </setting>
            <setting name="OpenDocumentAfterGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentationOutputPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>NoProxy</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoBackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackupInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoBackupLastPreserved" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoBackupSmartPreserving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportCreateSubdirectoriesForModels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExportBackgroundColor1" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportBackgroundColor2" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportTransparentBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExportSizeType" serializeAs="String">
                <value>Relative</value>
            </setting>
            <setting name="AutoExportWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoExportHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoExportUseCustomName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportCustomNamePattern" serializeAs="String">
                <value>&lt;ModelName&gt;_Diagram&lt;Index&gt;_&lt;DiagramName&gt;</value>
            </setting>
            <setting name="AutoExportImageFormat" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="AutoExportNameStyle" serializeAs="String">
                <value>PascalCase</value>
            </setting>
            <setting name="AutoExportImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportXmi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportXmiFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExportHiddenLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExportOnlyActiveLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailServerUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailServerUseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSignature" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultProjectStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeLanguageForDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeTemplateForDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSourceCodeOutputForDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAutoSnapLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSnapLinesSnappingDistance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ToolBoxOnRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagramExportImageFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSystemEmailClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicensedTo" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseID" serializeAs="String">
                <value />
            </setting>
            <setting name="AskedForVersion5ProfileCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchExportExistingFileHandling" serializeAs="String">
                <value>Warn</value>
            </setting>
            <setting name="FullScreenToolboxWidth" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="AddingToContainer" serializeAs="String">
                <value>PartiallyOverlapped</value>
            </setting>
            <setting name="DefaultRoleVisibilty" serializeAs="String">
                <value>private</value>
            </setting>
            <setting name="ShowPasteDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PasteDialogChoice" serializeAs="String">
                <value>PasteCopy</value>
            </setting>
            <setting name="AutoHideToolboxScrollbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectTreeShowEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectTreeShowRelations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectTreeShowGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectTreeShowComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectTreeOrderType" serializeAs="String">
                <value>CustomOrder</value>
            </setting>
            <setting name="RenderingAntiAliasing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedCustomDiagrams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemDpi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomDpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="ShowToolboxShortcutKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskedForVersion6ProfileCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Renaming" serializeAs="String">
                <value>SecondClick</value>
            </setting>
            <setting name="AutoSizeElements" serializeAs="String">
                <value>OnlyIfBigger</value>
            </setting>
            <setting name="SnapToBorders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToCenters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToPreferredSizes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToPreferredDistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLineStyle" serializeAs="String">
                <value>Oblique</value>
            </setting>
            <setting name="AskedForVersion7ProfileCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectTreeNavigationToItem" serializeAs="String">
                <value>SingleClick</value>
            </setting>
            <setting name="TabMaximumWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ShowTabNavigationArrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabMinimumWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TabLayoutStyle" serializeAs="String">
                <value>PreferMoreTabsOnScreen</value>
            </setting>
            <setting name="PrintPaperSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PrintSubPagesX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintSubPagesY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintLandscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintPaperSizeKind" serializeAs="String">
                <value>Custom</value>
            </setting>
            <setting name="SmoothScrolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSizePreserveWidthIfPossible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUseCaseNumbering" serializeAs="String">
                <value>NumbersLetters</value>
            </setting>
            <setting name="DrawHopOnRelationshipIntersection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferSelectionOverMoveInsideContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightTrackedChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNavigationBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSidebarSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ElementWholeAreaMovingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ElementWholeAreaMovingThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ShowTabBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuiStyle" serializeAs="String">
                <value>Ribbon</value>
            </setting>
            <setting name="ShowDocumentationIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToBorderPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TaggedValueDialogCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="TaggedValuesDialogCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UmlAttributeEditorFormCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UmlOperationEditorFormCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="EnumerationItemEditorFormCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ConstraintEditorFormCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="OperationParameterEditorCloseMsgBox" serializeAs="String">
                <value>None</value>
            </setting>
        </SoftwareIdeasModeler.Properties.Settings>
    </userSettings>
</configuration>
